{{ define "web/layouts/navbar" }}

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <!-- Begin Logo -->
        <a class="navbar-brand" href="/">
            <img src="/assets/web/img/logo.png" alt="logo">
        </a>
        <!-- End Logo -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                {{ if (eq .auth.ID 0) }}
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {{ else }}
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <img class="float-left profile-thumbnail" src="https://ui-avatars.com/api/?name={{ .auth.Name }}" alt="{{ .auth.Name }}">
                            {{ .auth.Name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" href="/articles/create">Create article</a>
                            </li>
                            <li>
                                <a href="#" onclick="$('#logout').submit()" class="nav-link">
                                    Logout
                                    <form action="/logout" method="POST" id="logout"></form>
                                </a>
                            </li>
                        </ul>
                    </li>
                {{ end}}
            </ul>
            <!-- End Menu -->
            <!-- Begin Search -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
            </form>
            <!-- End Search -->
        </div>
    </div>
</nav>
<!-- End Nav
================================================== -->

{{ end}}