{{ define "web/articles/create" }}

    {{ template "web/layouts/head" .}}

    {{ template "web/layouts/navbar" .}}

    {{ template "web/layouts/header" .}}

    <!-- Begin Post -->
    <div class="col-md-12 col-xs-12">
        <form class="article-form-container" action="/articles/store" method="POST">

            <div class="form-group">
                <label class="h4 form-control-label" for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Title" required value="{{ range .old.title }}{{ . }}{{ end }}">
                <span class="text-danger">{{ .errors.title }}</span>
            </div>

            <div class="form-group">
                <label class="h4 form-control-label" for="content">Content</label>
                <textarea class="form-control" name="content" id="content" placeholder="Content" required rows="10">{{ range .old.content }}{{ . }}{{ end }}</textarea>
                <span class="text-danger">{{ .errors.content }}</span>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>
    <!-- End Post -->

    {{ template "web/layouts/footer" .}}

    {{ template "web/layouts/foot" .}}

{{ end }}